:root{
    --filterDark:brightness(0%);
    --filterGray:grayscale();
}

.NavbarImg {
    filter:Brightness(100000%) grayscale();
    margin-bottom:1rem;
}
  
.Navbar {
    background-color: var(--NavBarColor);
    height: 100vh;
    width:3rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 1.5rem;
    transition:width 0.2s;
    box-shadow: 2px 2px 30px 2px  rgba(0, 0, 0, 0.2);
}
  
.Navbar:hover {
    width: 8rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.NavbarTitle p{
    color: var(--lightTextColor);
    font-weight:bold;
    display:none;
    font-size: 80%;
    margin-left: 0.5rem;
}
  
.Navbar:hover .NavbarTitle p{
    display: inline-flex;
}
  
.NavbarTitle img{
    filter:invert();
    width:2.8rem;
    height:2.8rem;
}

.Navbar:hover .NavbarTitle img{
    width:2rem;
    height:2rem;
}

.NavbarDiv{
    display:inline-flex;
    align-items:center;
    width:90%;
    padding:0.8rem 0;
}

.NavbarDiv:hover{
    border-radius: 0 5px 5px 0 ;
    background-color: var(--NavBarHoverColor);
    cursor:pointer;
}