.SpinImg{
    animation: rotation 5s linear infinite;
    height: 90%;
    width: 90%;
    filter:var(--filterLight);
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }