.Text{
    color: var(--lightTextColor);
    /*background-color: var(--NavBarColor);*/
    display:flex;
    flex-direction: column;
    align-items: center;
    /*box-shadow:inset 2px 2px 30px 2px  rgba(0, 0, 0, 0.2);*/
}


.TittleText h1{
    font-size:2rem;
    padding-left:clamp(0.5rem, 10vh, 10rem);
    padding-bottom:1rem;
}

.TittleText h2{
    font-size:1.3rem;
    padding-left:clamp(0.5rem, 10vh, 10rem);
    width: clamp(1rem, 45vw + 10vh, 80vw);
}

.TittleText{
    background-color: #303030;
    background-image: url(../Images/PrimsBG.svg);
    background-attachment: fixed;
    background-size:cover;

    width: 100%;
    padding:7rem 0rem 7rem 0rem;
}

.Text p{
    width:80%;
    display:flex;
    align-items:center;
    flex-direction:column;
}