:root {
  --DarkTextColor: #000000;

  --NavBarColor: #2a3447;
  --NavBarHoverColor: #394761;

  --BackgroundColor: #282c34;
  --BackgroundColorGradient: linear-gradient(90deg, rgba(208,80,101,1) 0%, rgba(76,121,209,1) 100%);

  --scrollbarColor: linear-gradient(180deg, rgb(240, 76, 125)0%, rgb(68, 127, 255) 100%);

  --lightTextColor: #ffff;

  --LinkTextColor: #5472aa;

  --filterLight:invert();
}
  
html{
  background-color: var(--BackgroundColor);
}

a{
  color: var(--LinkTextColor);
  text-decoration: none;
}

*{
  margin: 0;
  padding:0;
  font-family:'Roboto', sans-serif;
}

.bodyContainer{
  display: flex;
}

.navbarContainer{
  z-index: 2028;
  position:fixed;
}

.contentContainer{
  margin:3rem 8rem 1rem 8rem;
  display:flex;
  align-items:center;
  flex-direction: column;
}

/* width */
::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

/* Track */
/*::-webkit-scrollbar-track {
  background-color: var(--BackgroundColor)
}*/
 
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  min-height: 4rem;
  min-width: 4rem;

  background:var(--scrollbarColor);
  
  /* linear-gradient(120deg,#d62a2a, #ca572a, #d1ad35, #dadd30, #1cb135, #1fb2b9, #2d24b8)*/;
}

/* Handle on hover */
/*::-webkit-scrollbar-thumb:hover {
}*/

@media(max-width:720px){

  .contentContainer{
    margin:5rem 1rem 1rem 1rem;
  }

  html{
      font-size: 1.3rem;
  }
}