:root {
  --DarkTextColor: #1e2129;

  --NavbarColor: #1c2c4c;
  --NavbarHoverColor: #5f8da7;

  --BackgroundColor: #1d232e;

  --lightTextColor: #f8f9fc;

  --ScrollBarColor: #ffffff;
  --ScrollBarDarkColor: #b2d4e7;

  --filterLight:invert();
}
  
html{
  background-color: var(--BackgroundColor);
  font-size:clamp(1rem, 1rem,1.3rem);
}

a{
  text-decoration: none;
}

button .Tooltip{
  font-size: 0.8rem;
  opacity: 0%;
  visibility: hidden;
  background-color: rgb(41, 41, 41);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0.3rem;

  /* Position the tooltip */
  position:absolute;
  z-index: 2;
  transition: all 0.5s;
}

button:hover .Tooltip{
  visibility: visible;
  opacity: 100%;
}


*{
  margin: 0;
  padding:0;
  font-family:'Roboto', sans-serif;
}

.bodyContainer{
  display: flex;
}

.navbarContainer{
  z-index: 1;
  position:fixed;
  width: 99.4vw;
}

.contentContainer{
  display:flex;
  align-content:center;

  margin-top:4rem;
  width: 99.4vw;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.6rem;
}

/* Track */
/*::-webkit-scrollbar-track {
  background-color: var(--BackgroundColor)
}*/
 
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 6px 0 0 6px;
  min-height: 9rem;

  background:var(--ScrollBarColor);
  
  /* linear-gradient(120deg,#d62a2a, #ca572a, #d1ad35, #dadd30, #1cb135, #1fb2b9, #2d24b8)*/;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:var(--ScrollBarDarkColor);
}

@media(max-width:720px){

  .contentContainer{
    margin-top:0;
  }

  html{
      font-size: 1.3rem;
  }
}